.adefemi-header{
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  padding: 0 10px;

}

.header-links{
  display: flex;
  background-color: darken(white, 80%);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;

  .number{
    display: flex;
    font-size: 14px;
    color: $mainColor;
    ol{
      margin: 0 10px;
    }
  }

  .socials{
    display: flex;

    ol{
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;

      a{
        display: block;
      }
    }
  }
  .fb{
    color: blue;
  }
  .in{
    color: #a75454;
  }
  .tw, .ln{
    color: $mainColor;
  }
  .yo, .gp{
    color: #ff1610;
  }

  @media screen and (max-width: 650px){
    justify-content: center;
    .number, .socials{
      margin: 5px;
    }
  }

}

.links{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60px;

}

.header-sidebar{
  display: flex;
  button{
    background-color: transparent;
    outline: none;
    cursor: pointer;
    width: 30px; height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 10px;
    transition: all 200ms ease;
    border: 1px solid darken(white, 10%);
    color: white;
  }
  .sidebar-content{
    overflow-y: auto;
    position: fixed;
    z-index: 2;
    background-color: darken(white, 80%);
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 250px;
    padding-top: 20px;
    transition: all 400ms ease;
    opacity: 1;
    visibility: visible;

    .title{
      padding: 15px 20px;
      border-bottom: 1px solid darken(white, 70%);
      font-family: $mainFont;
      color: $mainColor;
    }

    .close{
      position: absolute;
      top: 20px;
      right: 20px;
      color: white;
    }

    a{
      display: block;
      padding: 15px 20px;
      font-family: $subFont;
      color: lighten($mainColor, 20%);
      font-size: 14px;
      &:hover{
        background-color: darken(white, 70%);
      }
    }
    a.active{
      border-left: 2px solid lighten($mainColor, 20%);
    }
  }

  .sidebar-content.closed{
    transform: translate(100%);
    opacity: 0;
    visibility: hidden;
  }
  @media screen and (min-width: 650px){
    display: none;
  }
}

.nav-links{
  display: flex;
  align-items: center;
  font-size: 14px;
  flex-wrap: wrap;
  position: relative;

  @media screen and (max-width: 650px){
    display: none;
  }

  button{
    background-color: transparent;
    outline: none;
    cursor: pointer;
    width: 30px; height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 10px;
    transition: all 200ms ease;
    border: 1px solid transparent;
    color: white;
  }

  .drop-trigger{
    position: relative;
    &:focus, &:focus-within{
      border: 1px solid darken(white, 10%);

      .dropdown{
        transform: translateY(40%);
        visibility: visible;
        opacity: 1;
        a{
          color: inherit;
          &:after, &:before{
            display: none !important;
          }

          &:hover{
            color: $tealAccent;
          }
          padding: 0 !important;
        }
        li{
          display: flex;
          align-items: center;
          svg{
            fill: $tealAccent !important;
          }
        }
      }
    }
  }

  .drop-trigger.active{
    svg{
      fill: $mainColor;
    }
  }

  a{
    display: block;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;
    color: white;

    &:after{
      position: absolute;
      content: '';
      height: 2px;
      background-color: $mainColor;
      left: 0;
      top: -100%;
      transform: translateY(-200%) scaleX(0);
      transition: all 400ms ease;
      width: 100%;
    }

    &:hover::after{
      transform: translateY(-200%) scaleX(1);
    }
  }

  a.active::after{
    transform: translateY(-200%) scaleX(1);
  }
}


.nav-brand{
  font-weight: bold;
  font-size: 20px;
  color: darken($mainColor, 20%);
}

.dropdown{
  position: absolute;
  background-color: white;
  border-top: 2px solid $mainColor;
  top: 0; right: 0;
  transform: translateY(-30%);
  text-align: left;
  min-width: 180px;
  box-shadow: 2px 2px 5px 0 rgba(black, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease;
  color: black;
  li{
    padding: 8px 15px;
    font-family: $mainFont;
  }
  a{
    color: inherit;
    &:after, &:before{
      display: none !important;
    }

    &:hover{
      color: $tealAccent;
    }
    padding: 0 !important;
  }
}