@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

$mainFont: 'Roboto', sans-serif;
$subFont: 'Oleo', sans-serif;

$mainColor: #41fdff;
$subColor: #1522ff;
$purpleAccent: #7e88b8;
$tealAccent: teal;
$redAccent: #ff5b3d;
$greenAccent: #81cb9d;


$mainImage : url("../images/image1.jpg");
$serviceImage : url("../images/serviceImage.jpg");
$storeImage : url("../images/storeImage.jpg");
$authImage : url("../images/authimage.jpg");
